
body{
	background: #86C560;
	font-family: 'Open Sans', sans-serif;
	padding: 0px;
	margin: 0%;
}

#part1 p{
	font-size: 35px;
}

#line{
	background: #6eb5ce;
	padding: 1%;
}

#banner{
	padding:0.1%;
	background: #fff;
}

#banner h1{
	font-family: 'Oswald', sans-serif;
    font-size: 40px;
    text-align: center;
}

a:link {
    text-decoration: none;
}

a:visited{
	color: black;
	text-decoration: none;
}

a:hover{
	/*color: blue;*/
}

.container{
	width: 100%;
	height: 100%;
	margin: 1%;
	float: left;
}

.container1{
	width: 100%;
	height: 100%;
	margin: 1%;
	float: left;
}

.content{
	width: 46%;
	height: 95%;
	float: left;
	padding: 1%;
	background: #eeeeee;
	margin-right: 1%;

}

#comparison{
	width: 46%;
	height: 95%;
	float: left;
	padding: 1%;
	background: #ffffff;
	margin-left: 1%;
	text-align: center;
	font-size: 130%;
}

#part1{
	display: inline-block;
	text-align: center;
}

#part1 input {
	font-size: 100%;
	font-family: Arial;
	border: none;
	text-align: center;
}

#part2 input {
	font-family: Arial;
	font-size: 90%;
	border: none;
	text-align: center;
}

.foodChoice{
	border: none;
	/*height: 25px;*/
	font-size: 100%;
	background: none;
}

.foodChoice:hover{
	font-weight: bold;
}

#showme{
	border: solid;
	border-width: 1px;
	font-size: 90%;
	background: #dddddd;
}

#showme:hover{
	background: #aaaaaa;
}
